<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lost.name %>
</p>

<p>
  <b>Category:</b>
  <%= @lost.category %>
</p>

<p>
  <b>Contact:</b>
  <%= @lost.contact %>
</p>

<p>
  <b>Description:</b>
  <%= @lost.description %>
</p>


<%= link_to 'Edit', edit_lost_path(@lost) %> |
<%= link_to 'Back', losts_path %>
