
<h1>Internal listing of found objects</h1>

<table border=1>
  <tr>
    <th>Date</th>
    <th>Picture</th>
    <th>Category</th>
    <th>Description</th>
  </tr>

<% @objets.each do |objet| %>
  <tr>
    <td><%= time_ago_in_words(objet.created_at) %> ago</td>
    <td><img src="<%= objet.picture %>" height=100 width=100/></td>
    <td><%= objet.category %></td>
    <td><%= objet.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Objet', new_objet_path %>
