<p id="notice"><%= notice %></p>
<img src="<%= @objet.picture %>"/>
<p>
  <b>Name:</b>
  <%= @objet.name %>
</p>

<p>
  <b>Category:</b>
  <%= @objet.category %>
</p>


<%= link_to 'Edit', edit_objet_path(@objet) %> |
<%= link_to 'Back', objets_path %>
